<div class="form-content">

  <md-toolbar>
    <div class="md-toolbar-tools ">
      <md-button aria-label="Go Back" ng-click="ctrl.back()">
        <md-icon>arrow_back</md-icon>
      </md-button>
      <h2 flex md-truncate>Grupos</h2>
      <!-- <md-button class="md-raised md-accent md-hue-3" aria-label="Learn More">
        Learn More
      </md-button> -->
      <md-button class="md-fab md-mini md-hue-3 md-primary" aria-label="Favorite">
        <md-icon>delete_forever</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <div ng-view="" flex="noshrink" class="docs-ng-view  ng-scope flex-noshrink listcontent" cache-scroll-position="" style="background:#282a36">
    <div class="doc-content theming ng-scope">
      <md-list>

        <md-list-item ng-repeat="teste in [1,2,3,4,5,6,7] "
          g-click="goToPerson(person.name, $event)" class="noright">
          <!-- <img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" /> -->
          <p>Teste</p>
          <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
          <md-icon ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3">edit
          </md-icon>
         
        </md-list-item>
      </md-list>

    </div>
    <md-button class="md-fab md-fab-bottom-right docs-scroll-fab md-button md-ink-ripple scrolling fixed"
      aria-label="Add a category" docs-scroll-class="scrolling" ng-click="ctrl.adicionar()">
      <md-icon>add</md-icon>
    </md-button>

  </div>
  <md-button ng-click="ctrl.salvar()" class="md-raised button-footer md-primary">
    <md-icon>check</md-icon>
    todos
  </md-button>


</div>