<md-list-item class="md-3-line" ng-click="null">
  <md-icon>category</md-icon>
  <div class="md-list-item-text" layout="column">
    <h3>Grupo</h3>
    <p>Confere maior organização ao grupo de produto.</p>
  </div>
</md-list-item>
<md-divider ></md-divider>
<md-list-item class="md-3-line" ng-click="null">
  <md-icon>account_balance</md-icon>
  <div class="md-list-item-text" layout="column">
    <h3>Subgrupo</h3>
    <p>COnfigure as tributações para inserir nos produtos.</p>
  </div>
</md-list-item>
<md-divider ></md-divider>


